/* animations */
@keyframes slideIn {
	from {
		transform:translate(0,-2em);
		opacity:0;
		text-shadow:0 0 0 #000;
	}
	50% {

	}
	to {
		transform:translate(0,0);
		opacity:1;
	}
}
@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes main {
	0% {
        transform:translate(0,0.25em);
		opacity:0;
        text-shadow:0 0 0 #000;
	}

    100% {
        /*text-shadow:0 0 0.1em #000;*/
        transform:translate(0,0);
        opacity:1;
	}

}
/* class */
.title {
    color: #101010;
    font-size: 10vw;
    font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
    animation-duration: 4s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    line-height: 0.3em;
		margin-bottom: 1em;
		font-weight :100;
		text-shadow:0.05em 0.05em 0.1em #888;
}
.motto {
    color: #101010;
    font-size: 12vw;
    font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
    animation-duration: 3s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    line-height: 50vh;
		margin-bottom: 0.3em;
		font-weight :100;
		text-shadow:0.05em 0.05em 0.1em #888;
}
.welcome {
    color: #101010 ;
    font-size: 6vw;
    font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
    animation-duration: 3s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    line-height: 0.5em;
		font-weight :100;
		text-shadow:0.05em 0.05em 0.1em #888;
}
.main {
    font-size: 2.5vw;
		font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
    opacity:0;
    color: #101010;
    animation-duration: 1s;
    animation-name: main;
    animation-fill-mode: forwards;
    animation-delay:3s;
	  font-weight :200;
}
.menu{
    z-index:1;
    position: fixed;
    list-style: none;
    overflow: hidden;
    top:0;
    left:0;
    right:0;
    margin: 0 auto;
		background: linear-gradient(rgba(240,240,240,1), rgba(240,240,240,0.0));
    display: flex;
	justify-content: center;


}
.menu li {
    height:2vw;
    display: flex;
    align-items: center;
}
.menu li a{
    padding: 2vw 4vw;
    text-decoration: none;

    color:#101010;
    font-family: monospace;
    font-size:1.5vw;
    transition: .4s;
}
.menu li a:hover{
		opacity:0.3;
    /*background: rgba(120,120,120,0.5);*/
}

.coinhive-miner{
    display:block;
}
.logo {
    width: 3vw;
		height: 3vw;
}
.works {
	width: 50vw;
	height: 30vw;
	transition: .8s;
	box-shadow: 0.25vw 0.25vw 0.5vw #888;
	margin-bottom: 5vw;
}
.works h1 {
	font-size: 3vw;
	font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
	color: #101010;
	font-weight :100;
	font-weight :200;
	margin-bottom: 0.3em;
}
.works p{
	font-size: 2vw;
	font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
	color: #101010;
	font-weight :100;
	font-weight :200;
}
.works a {
	display:block;
	width: 100%; /* 横幅 */
	height: 100%;
	background-color:#E8E8E8;
	transition: .4s;
	text-decoration: none;
}
.works img {
	display:block;
	width: 60%; /* 横幅 */

	background-color:#E8E8E8;
	transition: .4s;
	text-decoration: none;

}

.works:hover{
		box-shadow: 1vw 1vw 2vw #888;
		/*opacity:0.3;*/
    /*background: rgba(120,120,120,0.5);*/
}
/* tag */
body {
    background: #F0F0F0;
    /*background-image: url("background3.jpg");*/
    background-size: cover;
    background-attachment:fixed;
}
