/* animations */
@keyframes slideIn {
	from {
		transform:translate(0,-2em);
		opacity:0;
		text-shadow:0 0 0 #000;
	}
	50% {
		
	}
	to {
		transform:translate(0,0);
		opacity:1;
		text-shadow:0 0 0.1em #000;
	}
}
@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes main {
	0% {
        transform:translate(0,0.25em);
		opacity:0;
        text-shadow:0 0 0 #000;
	}

    100% {
        text-shadow:0 0 0.1em #000;
        transform:translate(0,0);
        opacity:1;
	}
    
}
/* class */
.donate {
    color: #e0e0e0;
    font-size: 200%;
    font-family: cursive; 
    animation-duration: 3s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
}
.opening {
    color: #f0f0f0;
    font-size: 1500%;
    font-family: cursive;
    animation-duration: 3s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    line-height: 0.8em
}
.welcome {
    color: #e0e0e0;
    font-size: 500%;
    font-family: cursive;
    animation-duration: 3s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    line-height: 0.5em
}
.main {
    font-size: 200%;
    opacity:0;
    color: #f0f0f0;
    font-family: serif;
    animation-duration: 1s;
    animation-name: main;
    animation-fill-mode: forwards;
    animation-delay:3s;
}
.menu{
    z-index:1;
    position: fixed; 
    list-style: none;
    overflow: hidden;
    top:0;
    left:0;
    right:0;
    margin: 0 auto;
    background: #555;
    display: flex;
	justify-content: center;
    
    
}
.menu li {
    height:30px;
    display: flex;
    align-items: center;
}
.menu li a{
    padding: 30px 50px;
    text-decoration: none;
    
    color:#F0F0F0;
    font-family: Courier;
    transition: .4s;
}
.menu li a:hover{
    background: #F0F0F0;
    color:#555;
}

.coinhive-miner{
    display:block;
    top:100;
}
/* tag */
body {
    background: #000000;
    background-image: url("background3.jpg");
    background-size: cover;
    background-attachment:fixed;
}