/* animations */
@keyframes slideIn {
	from {
		transform:translate(0,-2em);
		opacity:0;
	}
	50% {

	}
	to {
		opacity:1;
	}
}
@keyframes titleIn {
	from {
		transform:translate(0,0.5em);
		opacity:0;
	}
	50% {

	}
	to {
		opacity:1;
	}
}
@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes main {
	0% {
        transform:translate(0,1em);
		opacity:0;
        text-shadow:0 0 0 #000;
	}

    100% {
        transform:translate(0,0);
        opacity:1;
	}

}
/* class */
.motto {
    color: #F0F0F0;
    font-size: 12vw;
    font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    padding-top: calc(40vh - 0.5em);
	font-weight :200;
	opacity:0;
	animation-delay:0.5s;
}

.welcome {
	
    color: #F0F0F0 ;
    font-size: 6vw;
    font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
    animation-duration: 2s;
    animation-name: main;
    animation-fill-mode: forwards;
    line-height: 0.5em;
	font-weight :100;
	opacity:0;
	animation-delay:2.5s;
	padding-top:calc(20vh - 0.5em);
	padding-bottom:calc(40vh - 0.5em);
}

.title {
    color: #F0F0F0;
    font-size: 10vw;
    font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
    animation-duration: 0.9s;
    animation-name: titleIn;
    animation-timing-function: ease; 
    animation-fill-mode: forwards;
    line-height: 0.3em;
    padding-top: calc(10vh-0.5em);
	padding-bottom: 0;
	font-weight :200;
	position:relative;
}


.main {
	padding-bottom:calc(20vh - 0.5em);
}
.main p{
 	font-size: 2.5vw;
 	font-family:'Hiragino Sans','游ゴシック Light',sans-serif;
    opacity:0;
    color: #F0F0F0;
    animation-duration: 1s;
    animation-name: main;
    animation-fill-mode: forwards;
	font-weight :200;
}
.main p:nth-child(1){
	animation-delay:0.2s;
}

.main p:nth-child(2){
 	animation-delay:0.3s;
}

.main p:nth-child(3){
    animation-delay:0.4s;
}

.main p:nth-child(4){
    animation-delay:0.5s;
}

.main p:nth-child(5){
    animation-delay:0.6s;
}
.main p:nth-child(6){
    animation-delay:0.7s;
}

.block.active span:after {
  height: 0;
}

.menu{
	opacity:0;
	animation-duration: 1s;
	animation-name: fadeIn;
    animation-fill-mode: forwards;
	animation-delay:0.2s;
    z-index:1;
    position: fixed;
    list-style: none;
    overflow: hidden;
    top:0;
    left:0;
    right:0;
    margin: 0 auto;
	background: linear-gradient(rgba(50,50,50,1), rgba(50,50,50,0.0));
    display: flex;
	justify-content: center;
}

.menu li {
    height:2vw;
    display: flex;
    align-items: center;
}

.menu li a{
    padding: 2vw 4vw;
    text-decoration: none;

    color:#F0F0F0;
    font-family: 'Hiragino Sans','游ゴシック Light',sans-serif;
	font-weight : 200;
    font-size:1.5vw;
    transition: .4s;
}

.menu li a:hover{
	opacity:0.3;
    /*background: rgba(120,120,120,0.5);*/
}

.coinhive-miner{
    display:block;
}

.logo {
    width: 3vw;
	height: 3vw;
}

.works {
	width: 70vw;
	height: 40vw;
	transition: .6s;
	margin-bottom: 5vw;
	position:relative;
	overflow: hidden;
	background-color:#303030;
}

.works h1 {
	font-size: 5vw;
	font-family:-apple-system, BlinkMacSystemFont, sans-serif;
	color: #101010;
	font-weight :100;
	top: 0;
  	left: 0;
	margin-bottom: 0.3em;
	position:absolute;
	/*text-shadow: 0.2vw 0.2vw 1vw #222;*/
}

.works p{
	font-size: 2vw;
	font-family:-apple-system, BlinkMacSystemFont, sans-serif;
	color: #101010;
	font-weight :200;
	top: calc(5vw + 3em);
  	left: 0;
	position:absolute;
	text-align: left;
	/*text-shadow: 0.2vw 0.2vw 1vw #222;*/
}

.works a {
	display:block;
	width: 101%; /* 横幅 */
	height: 101%;
	text-decoration: none;
}

.works img {
	display:block;
	width: 100%; /* 横幅 */
	height: 100%;
	background-color:#FFFFFF;
	transition: .4s;
	filter: contrast(20%) brightness(170%);
	text-decoration: none;
	

}

/*
.works:hover{
	box-shadow: 1vw 1vw 0vw #111;
}
*/

html {
	height: 100%;
}

#body {
    background-size: cover;
    background-attachment:fixed;
	height: 100%;
	position:static;
	top: 0;
	right: 0;
	left: 0;
	/*
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	margin-top: auto;
	*/
}

canvas {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /*background-image: url(https://www.photock.jp/photo/middle/photo0000-3531.jpg);*/
    background-color:#303030;
    background-image: url(../img/background/background_about.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
